.output-box {
  width: 1200px;
  height: 700px;
  border: 2px solid skyblue;
  border-radius: 10px;
  overflow-wrap: break-word;
  white-space: pre-wrap; 
  overflow-y:auto;
  
  margin-top: 10px;
  font-size: 18px;
  padding-top: 20px;
  padding-left: 20px;
}


/* 自定义滚动条样式
.output-box::-webkit-scrollbar {
  width: 8px;
}

.output-box::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 4px;
}

.output-box::-webkit-scrollbar-thumb:hover {
  background-color: #aaa;
} */
